@media screen and (max-width: 420px) {
  .container .deck {
    width: 320px;
    min-height: 380px;
    padding: 12px;
  }
  .container .deck .card {
    height: 70px;
    width: 70px;
  }
  #win-page h1 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 421px) {
  .container .deck {
    width: 420px;
    min-height: 440px;
    padding: 12px;
  }
  .container .deck .card {
    height: 90px;
    width: 90px;
  }
  #win-page h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 686px) {
  .container .deck {
    width: 660px;
    min-height: 680px;
    padding: 32px;
  }
  .container .deck .card {
    height: 125px;
    width: 125px;
  }
  #win-page h1 {
    font-size: 2em;
  }
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    transition: transform 0.5s;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.not-match {
  background: #f45b3d;
  transform: rotate(5deg);
  transition-property: background tranform;
  transition-duration: 0.5s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
  display: inline-block;
  padding-left: 20%;
  padding-right: 20%;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#win-page {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.normal-text {
  text-align: center;
}

.button-play {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 150px;
  margin: 20px;
  cursor: pointer;
}

.circle {
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 50px; /* this make vertical center*/
  font-weight: bold;
  color: white;
  background: mediumspringgreen;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  transition-property: width height line-height font-size;
  transition-duration: 1s;
}

.circle1 {
  font-size: 2.5em;
  vertical-align: middle;
  line-height: 100px; /* this make vertical center*/
  font-weight: bold;
  color: white;
  background: mediumspringgreen;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  transition-property: width height line-height font-size;
  transition-duration: 0.5s;
}

#count-time {
  font-weight: bold;
  font-size: 1.5em;
}
